## Version 3.9.0 ##

Release Date : 2019-06

{% include tip.html content="Due to improvements in how we load classes within the UI; it is possible to get some WARN messages in the logfile from 'org.reflections' concerning missing classes ('could not get type for name X from any class loader'); these warnings can be safely ignored, and you should put &lt;Logger name='org.reflections' level='ERROR'&#x2F;&gt; in your log4j2.xml configuration." %}

### Bugs

 - [INTERLOK-2743](https://adaptris.atlassian.net/browse/INTERLOK-2743) - SftpAuthenticationWrapper eats exceptions.
 - [INTERLOK-2753](https://adaptris.atlassian.net/browse/INTERLOK-2753) - JettyRoutingService fails a capturing group with used without a metadata key
 - [INTERLOK-2770](https://adaptris.atlassian.net/browse/INTERLOK-2770) - UI: Should 'ignore' classes that fail to pass reflection construction rather than completely failing
 - [INTERLOK-2778](https://adaptris.atlassian.net/browse/INTERLOK-2778) - UI Config - Import with variables modal window has faulty css/html code (page looks bad, but still works)
 - [INTERLOK-2779](https://adaptris.atlassian.net/browse/INTERLOK-2779) - CSV ResultSet Translator doesn't have @config tags
 - [INTERLOK-2787](https://adaptris.atlassian.net/browse/INTERLOK-2787) - UI : Review Optional component page and cross reference against POM.XML
 - [INTERLOK-2796](https://adaptris.atlassian.net/browse/INTERLOK-2796) - UI Config - Settings editor - deprecated setting not shown on form editor (even tho it has a value)
 - [INTERLOK-2797](https://adaptris.atlassian.net/browse/INTERLOK-2797) - MessageLogger - AIOOB exception trace
 - [INTERLOK-2802](https://adaptris.atlassian.net/browse/INTERLOK-2802) - UI settings editor does not support lists of enums
 - [INTERLOK-2803](https://adaptris.atlassian.net/browse/INTERLOK-2803) - Typo in Project Save Success message 
 - [INTERLOK-2813](https://adaptris.atlassian.net/browse/INTERLOK-2813) - Editstream unable to configure gxml url with localhost style url
 - [INTERLOK-2828](https://adaptris.atlassian.net/browse/INTERLOK-2828) - Interlok cache jsr 107 configuration url
 - [INTERLOK-2830](https://adaptris.atlassian.net/browse/INTERLOK-2830) - UI: List of objects that contain services break the UI
 - [INTERLOK-2831](https://adaptris.atlassian.net/browse/INTERLOK-2831) - UI : Bump Jackson to 2.9.9
 - [INTERLOK-2835](https://adaptris.atlassian.net/browse/INTERLOK-2835) - UI Config - Components sidebar completely broken (javascript error) - knock on effect from a deprecated task change
 - [INTERLOK-2836](https://adaptris.atlassian.net/browse/INTERLOK-2836) - UI Config - Component sidebar - I encountered a js error when dnd a workflow from clipboard sidebar into config
 - [INTERLOK-2841](https://adaptris.atlassian.net/browse/INTERLOK-2841) - UI Config - Layout issues when page sidebar is open

### Improvements

 - [INTERLOK-1388](https://adaptris.atlassian.net/browse/INTERLOK-1388) - AdaptrisComponent(s) that should implement lifecycle interfaces instead (not for patch release)
 - [INTERLOK-1636](https://adaptris.atlassian.net/browse/INTERLOK-1636) - Actional-Interceptor Performance issues.
 - [INTERLOK-1970](https://adaptris.atlassian.net/browse/INTERLOK-1970) - Create a docker image for WebsphereMQ
 - [INTERLOK-2524](https://adaptris.atlassian.net/browse/INTERLOK-2524) - Bump Saxon-HE from 9.7.0-20 to 9.9.0-2
 - [INTERLOK-2542](https://adaptris.atlassian.net/browse/INTERLOK-2542) - UI Config - add a 'navigation tree' to the config page to help users quickly navigate large config
 - [INTERLOK-2635](https://adaptris.atlassian.net/browse/INTERLOK-2635) - Upgrade our activemq to artemis?
 - [INTERLOK-2662](https://adaptris.atlassian.net/browse/INTERLOK-2662) - Open project from local filesystem should support ~
 - [INTERLOK-2665](https://adaptris.atlassian.net/browse/INTERLOK-2665) - Support variable set when testing service and service list in the UI
 - [INTERLOK-2673](https://adaptris.atlassian.net/browse/INTERLOK-2673) - Review things that implement ComponentLifecycleExtension indirectly
 - [INTERLOK-2684](https://adaptris.atlassian.net/browse/INTERLOK-2684) - UI Config - Some @ComponentProfile attributes should be taken from parent classes
 - [INTERLOK-2708](https://adaptris.atlassian.net/browse/INTERLOK-2708) - Look at Istio as a service mesh for Kubernetes
 - [INTERLOK-2714](https://adaptris.atlassian.net/browse/INTERLOK-2714) - Further source clean-up JMS
 - [INTERLOK-2715](https://adaptris.atlassian.net/browse/INTERLOK-2715) - Define what HA means for Interlok
 - [INTERLOK-2720](https://adaptris.atlassian.net/browse/INTERLOK-2720) - Show @Removal warnings in the settings editor
 - [INTERLOK-2733](https://adaptris.atlassian.net/browse/INTERLOK-2733) - Move flat file transform capability into optional package
 - [INTERLOK-2734](https://adaptris.atlassian.net/browse/INTERLOK-2734) - SplitJoinService events for cirrus connect
 - [INTERLOK-2735](https://adaptris.atlassian.net/browse/INTERLOK-2735) - Move email capability into its own optional package
 - [INTERLOK-2754](https://adaptris.atlassian.net/browse/INTERLOK-2754) - Branching service should be replaced by config-conditional switch case
 - [INTERLOK-2759](https://adaptris.atlassian.net/browse/INTERLOK-2759) - JdbcMapInsert should update an optional key with the number of messages
 - [INTERLOK-2764](https://adaptris.atlassian.net/browse/INTERLOK-2764) - Add circleci to all opensource projects with a buildjava11 workflow
 - [INTERLOK-2765](https://adaptris.atlassian.net/browse/INTERLOK-2765) - Promote interlok-config-conditional into interlok-core
 - [INTERLOK-2767](https://adaptris.atlassian.net/browse/INTERLOK-2767) - Mark elasticsearch2.x as deprecated
 - [INTERLOK-2769](https://adaptris.atlassian.net/browse/INTERLOK-2769) - Migrate JMS/XA specific implementations to their own modules.
 - [INTERLOK-2771](https://adaptris.atlassian.net/browse/INTERLOK-2771) - Remove deprecated configuration marked with @Removal(version='3.9.0')
 - [INTERLOK-2773](https://adaptris.atlassian.net/browse/INTERLOK-2773) - Mark interlok-schemas as deprecated
 - [INTERLOK-2776](https://adaptris.atlassian.net/browse/INTERLOK-2776) - Bump version number to 3.9-SNAPSHOT
 - [INTERLOK-2777](https://adaptris.atlassian.net/browse/INTERLOK-2777) - Add JsonPatch (RFC6902) support to interlok-json
 - [INTERLOK-2785](https://adaptris.atlassian.net/browse/INTERLOK-2785) - PDF to HTML Service
 - [INTERLOK-2786](https://adaptris.atlassian.net/browse/INTERLOK-2786) - Create a docker image for SolaceMQ
 - [INTERLOK-2790](https://adaptris.atlassian.net/browse/INTERLOK-2790) - SymmetricKeyCryptoService should use a DataInputParameter for the thing to encrypt or decrypt
 - [INTERLOK-2792](https://adaptris.atlassian.net/browse/INTERLOK-2792) - PDF to Text service
 - [INTERLOK-2795](https://adaptris.atlassian.net/browse/INTERLOK-2795) - Formalize the location where a message as consumed as metadata.
 - [INTERLOK-2811](https://adaptris.atlassian.net/browse/INTERLOK-2811) - Test our JDBC Services against H2
 - [INTERLOK-2817](https://adaptris.atlassian.net/browse/INTERLOK-2817) - Build amazon corretto + Azul docker image + Interlok for 3.9.0
 - [INTERLOK-2825](https://adaptris.atlassian.net/browse/INTERLOK-2825) - Upgrade HPCC clienttools to latest for adaptris/interlok:3.9.0-hpcc docker image
 - [INTERLOK-2826](https://adaptris.atlassian.net/browse/INTERLOK-2826) - Single interface implementations for MessageWrapper
 - [INTERLOK-2833](https://adaptris.atlassian.net/browse/INTERLOK-2833) - MimeAggregator should allow arbitrary headers in each nested part 
 - [INTERLOK-2834](https://adaptris.atlassian.net/browse/INTERLOK-2834) - MultipartMessageService service that builds a mime message
 - [INTERLOK-2664](https://adaptris.atlassian.net/browse/INTERLOK-2664) - AS400Connection ComponentProfile has tag='connection' whereas all other connections have tag='connections'
 - [INTERLOK-2812](https://adaptris.atlassian.net/browse/INTERLOK-2812) - Migrate to $nexusBaseUrl/content/groups/interlok
 - [INTERLOK-2840](https://adaptris.atlassian.net/browse/INTERLOK-2840) - oauth-rfc5849 : not fully compliant
 - [INTERLOK-2843](https://adaptris.atlassian.net/browse/INTERLOK-2843) - Update the gradle build info for optional components (to give them better labels etc)
