## Version 3.2.0 ##

Release Date : 2016-03-18

### Bugs

- [INTERLOK-770](https://adaptris.atlassian.net/browse/INTERLOK-770) - Potential log4j2 loading issue in a Sonic container
- [INTERLOK-773](https://adaptris.atlassian.net/browse/INTERLOK-773) - Remove c3p0:c3p0 from all dependencies.
- [INTERLOK-775](https://adaptris.atlassian.net/browse/INTERLOK-775) - Issue when getting the configuration url via jmx on RHEL5
- [INTERLOK-782](https://adaptris.atlassian.net/browse/INTERLOK-782) - Cannot switch to using xalan due to dependency on net.sf.saxon.trans.LicenseException
- [INTERLOK-789](https://adaptris.atlassian.net/browse/INTERLOK-789) - UI loses xpath property in attachment/body-handler when using MultiAttachmentSmtpProducer with XmlMailCreator
- [INTERLOK-792](https://adaptris.atlassian.net/browse/INTERLOK-792) - ParsingMailConsumerImpl annotated NotNull PartSelector
- [INTERLOK-794](https://adaptris.atlassian.net/browse/INTERLOK-794) - Fix TemplateServiceImplTest
- [INTERLOK-795](https://adaptris.atlassian.net/browse/INTERLOK-795) - Add Connection screen is inconsistent with SharedConnection
- [INTERLOK-798](https://adaptris.atlassian.net/browse/INTERLOK-798) - XML View does not handle the "replace"
- [INTERLOK-804](https://adaptris.atlassian.net/browse/INTERLOK-804) - UI Config - Test-this-service-collection button not working
- [INTERLOK-805](https://adaptris.atlassian.net/browse/INTERLOK-805) - Order is not (always) obeyed on settings screens for nested lists
- [INTERLOK-811](https://adaptris.atlassian.net/browse/INTERLOK-811) - Cannot apply config to current adapter
- [INTERLOK-824](https://adaptris.atlassian.net/browse/INTERLOK-824) - Fix the root issue causing INTERLOK-822
- [INTERLOK-822](https://adaptris.atlassian.net/browse/INTERLOK-822) - UI Config - add connection isn't working when a shared connection is present
- [INTERLOK-829](https://adaptris.atlassian.net/browse/INTERLOK-829) - @XStreamAlias for StandardReponseProducer is wrong.
- [INTERLOK-830](https://adaptris.atlassian.net/browse/INTERLOK-830) - Issue with services order in the worklow or serviceList not been kept when editing component.
- [INTERLOK-832](https://adaptris.atlassian.net/browse/INTERLOK-832) - JDBC advanced connection test - pool size.
- [INTERLOK-838](https://adaptris.atlassian.net/browse/INTERLOK-838) - Aggregating FS Consumer cannot be configured from gui (no template)
- [INTERLOK-839](https://adaptris.atlassian.net/browse/INTERLOK-839) - Can't create valid JSON Path Service config in GUI
- [INTERLOK-841](https://adaptris.atlassian.net/browse/INTERLOK-841) - SharedComponents remain in JNDI even if init() fails
- [INTERLOK-842](https://adaptris.atlassian.net/browse/INTERLOK-842) - UI Config - Save as template - xpath connection issue

### Improvements

- [INTERLOK-112](https://adaptris.atlassian.net/browse/INTERLOK-112) - System CPU Load and JVM Process Load charts should have duration restriction like the JVM memory charts
- [INTERLOK-306](https://adaptris.atlassian.net/browse/INTERLOK-306) - UI Config - Work out ways to better present the connections in relation with the consume/produce components
- [INTERLOK-627](https://adaptris.atlassian.net/browse/INTERLOK-627) - Class level annotation that can define the "sort order" for input fields
- [INTERLOK-628](https://adaptris.atlassian.net/browse/INTERLOK-628) - Apply Order on Settings Screen
- [INTERLOK-655](https://adaptris.atlassian.net/browse/INTERLOK-655) - Change workflow type in the setting modal
- [INTERLOK-713](https://adaptris.atlassian.net/browse/INTERLOK-713) - UI - design changes for the settings editor (thumbnail browser)
- [INTERLOK-721](https://adaptris.atlassian.net/browse/INTERLOK-721) - UI Config Page - Add component - tile view - add the extra info in tooltip
- [INTERLOK-750](https://adaptris.atlassian.net/browse/INTERLOK-750) - Add the abiity to dynamiclly assign a username + password for HTTP.
- [INTERLOK-753](https://adaptris.atlassian.net/browse/INTERLOK-753) - Consider having variable indirection for metadata.
- [INTERLOK-761](https://adaptris.atlassian.net/browse/INTERLOK-761) - Investigate Saxon HE XML to Json stylehseet
- [INTERLOK-764](https://adaptris.atlassian.net/browse/INTERLOK-764) - Add in support for FTP/SSL Implicit mode
- [INTERLOK-769](https://adaptris.atlassian.net/browse/INTERLOK-769) - Metadata Key Standardisation
- [INTERLOK-772](https://adaptris.atlassian.net/browse/INTERLOK-772) - SendEvents should use the ExecutorService already available.
- [INTERLOK-778](https://adaptris.atlassian.net/browse/INTERLOK-778) - JdbcConnectionPool with more properties
- [INTERLOK-779](https://adaptris.atlassian.net/browse/INTERLOK-779) - UI Widgets - Persist the column mode selection per user
- [INTERLOK-780](https://adaptris.atlassian.net/browse/INTERLOK-780) - Create annotation to define which connections are valid for a given consumer / producer
- [INTERLOK-781](https://adaptris.atlassian.net/browse/INTERLOK-781) - Annotate consumers and producers with the expected connection annotation
- [INTERLOK-784](https://adaptris.atlassian.net/browse/INTERLOK-784) - UI Config - fix the order the settings editor tabs
- [INTERLOK-787](https://adaptris.atlassian.net/browse/INTERLOK-787) - UI - Prefs/Config - add new pref for the loading of the active adapter on the config page
- [INTERLOK-785](https://adaptris.atlassian.net/browse/INTERLOK-785) - UI Config - Handle open page with no connectable adapters better
- [INTERLOK-791](https://adaptris.atlassian.net/browse/INTERLOK-791) - A few documentation errors found while testing FS and Mail.
- [INTERLOK-797](https://adaptris.atlassian.net/browse/INTERLOK-797) - UI Config Page - review icons used on the components / settings editor
- [INTERLOK-801](https://adaptris.atlassian.net/browse/INTERLOK-801) - User preference for dialog boxes
- [INTERLOK-803](https://adaptris.atlassian.net/browse/INTERLOK-803) - Refactor StatementParameter
- [INTERLOK-814](https://adaptris.atlassian.net/browse/INTERLOK-814) - Avoid to iterate through extensions and settings too many time in the settings modal
