## Version 3.0.1 ##

Release Date : 2015-04-08


### Bugs

- [INTERLOK-387](https://adaptris.atlassian.net/browse/INTERLOK-387) - String fields are not preserved if input is "NUMERIC" only.
- [INTERLOK-395](https://adaptris.atlassian.net/browse/INTERLOK-395) - XmlTransformService Swallows Errors
- [INTERLOK-408](https://adaptris.atlassian.net/browse/INTERLOK-408) - Unable to select shared connection in ReliableMessagingConsumer
- [INTERLOK-411](https://adaptris.atlassian.net/browse/INTERLOK-411) - Unable to add EbXmlRoutingAndValidation service
- [INTERLOK-416](https://adaptris.atlassian.net/browse/INTERLOK-416) - ThrottlingInterceptor is blocking adapter stop

### Improvements

- [INTERLOK-381](https://adaptris.atlassian.net/browse/INTERLOK-381) - Add a bootstrap property that controls the name of the AdapterRegistry
- [INTERLOK-382](https://adaptris.atlassian.net/browse/INTERLOK-382) - Sonic Container - Interlok testing
- [INTERLOK-385](https://adaptris.atlassian.net/browse/INTERLOK-385) - Make variableSubstitution pre-processor handle nested variables
- [INTERLOK-391](https://adaptris.atlassian.net/browse/INTERLOK-391) - Add SystemPropertyPreProcessor and EnvironmentPreProcessor as variableSubstitution extensions
- [INTERLOK-393](https://adaptris.atlassian.net/browse/INTERLOK-393) - Review String members that should really be enums
- [INTERLOK-394](https://adaptris.atlassian.net/browse/INTERLOK-394) - SonicMF component requires a full bootstrap.properties
- [INTERLOK-400](https://adaptris.atlassian.net/browse/INTERLOK-400) - Review validation annotations on components
- [INTERLOK-418](https://adaptris.atlassian.net/browse/INTERLOK-418) - Add a Statement Timeout to JDBC Services.
- [INTERLOK-420](https://adaptris.atlassian.net/browse/INTERLOK-420) - If adapter is shutdown then ctrl-c causes an exception to be thrown by the eventHandler
- [INTERLOK-422](https://adaptris.atlassian.net/browse/INTERLOK-422) - Default adapter for "releases" should not say Interlok-Tech-Preview

