## Version 3.0.6 ##

Release Date : 2015-10-14

### Bugs

- [INTERLOK-542](https://adaptris.atlassian.net/browse/INTERLOK-542) - UI Dashboard - Adapter dashboard gets "stuck" by unreachable adapter
- [INTERLOK-682](https://adaptris.atlassian.net/browse/INTERLOK-682) - Typing DataDestination causes schema tests to fail.

### Improvements

- [INTERLOK-8](https://adaptris.atlassian.net/browse/INTERLOK-8) - Update MSMQ component to support .NET writing to MSMQ
- [INTERLOK-377](https://adaptris.atlassian.net/browse/INTERLOK-377) - Build a JSON equivalent to adp-webservices-internal.war
- [INTERLOK-583](https://adaptris.atlassian.net/browse/INTERLOK-583) - UI Config - Have a process to confirm that config works in remote adapters
- [INTERLOK-590](https://adaptris.atlassian.net/browse/INTERLOK-590) - Need to change the flyway script name
- [INTERLOK-595](https://adaptris.atlassian.net/browse/INTERLOK-595) - Webservices should support "JSON" style as the message.
- [INTERLOK-598](https://adaptris.atlassian.net/browse/INTERLOK-598) - UI Dashboard - show config modal with basic adapter doesn't init correctly
- [INTERLOK-608](https://adaptris.atlassian.net/browse/INTERLOK-608) - UI Dashboard - show adapter version numbers
- [INTERLOK-615](https://adaptris.atlassian.net/browse/INTERLOK-615) - log4j is dead long live log4j - See what's need to be done to upgrade to logj2
- [INTERLOK-616](https://adaptris.atlassian.net/browse/INTERLOK-616) - Port jmxlogger into interlok
- [INTERLOK-619](https://adaptris.atlassian.net/browse/INTERLOK-619) - UI API - Create new rest controller(s) that follows the rest standard to get adapter, channel, workflow details start, stop, get statistics etc
- [INTERLOK-620](https://adaptris.atlassian.net/browse/INTERLOK-620) - UI API - Add swagger (swagger.json) to document the new REST controller(s).
- [INTERLOK-621](https://adaptris.atlassian.net/browse/INTERLOK-621) - UI API - Change the authentication process (Basic?) so other app/scrip can access the ui api
- [INTERLOK-624](https://adaptris.atlassian.net/browse/INTERLOK-624) - Add a NullOutOfStateHandler
- [INTERLOK-635](https://adaptris.atlassian.net/browse/INTERLOK-635) - Validation of configuration should happen during unit-tests.
- [INTERLOK-639](https://adaptris.atlassian.net/browse/INTERLOK-639) - Update MleMarker so that sequence number is a long
- [INTERLOK-644](https://adaptris.atlassian.net/browse/INTERLOK-644) - Add in Json transform / json xpath style support.
- [INTERLOK-648](https://adaptris.atlassian.net/browse/INTERLOK-648) - Add a bootstrap property that forces javax.validation on the created Adapter
- [INTERLOK-649](https://adaptris.atlassian.net/browse/INTERLOK-649) - Failover - Testing and cleanup.
- [INTERLOK-650](https://adaptris.atlassian.net/browse/INTERLOK-650) - UI - Config - Improve the select fields page for create template function
- [INTERLOK-651](https://adaptris.atlassian.net/browse/INTERLOK-651) - Add gzip for the webservice response
- [INTERLOK-653](https://adaptris.atlassian.net/browse/INTERLOK-653) - New Service for Xpath that mirrors JsonPath functionality
- [INTERLOK-656](https://adaptris.atlassian.net/browse/INTERLOK-656) - Cache adapter component beaninfo to get the config faster.
- [INTERLOK-657](https://adaptris.atlassian.net/browse/INTERLOK-657) - Change the logging widget to from hard-coded objectname to dynamic
- [INTERLOK-659](https://adaptris.atlassian.net/browse/INTERLOK-659) - If a template is not part of the expected TemplateType we receive a debu stacktrace
- [INTERLOK-665](https://adaptris.atlassian.net/browse/INTERLOK-665) - Deprecated members should not be shown in config
- [INTERLOK-663](https://adaptris.atlassian.net/browse/INTERLOK-663) - Add in dynamic method support to ApacheHttp + JdkHttp
- [INTERLOK-664](https://adaptris.atlassian.net/browse/INTERLOK-664) - Add in Dynamic Http Response support to JettyConsumer
- [INTERLOK-668](https://adaptris.atlassian.net/browse/INTERLOK-668) - HTTP refactoring
- [INTERLOK-672](https://adaptris.atlassian.net/browse/INTERLOK-672) - Modify UI jmx logging documentation to explain how to configure the new inetlok jmx logging
- [INTERLOK-673](https://adaptris.atlassian.net/browse/INTERLOK-673) - Deprecate additional logfile handler fields
- [INTERLOK-674](https://adaptris.atlassian.net/browse/INTERLOK-674) - Message data destinations, could be more generic.
- [INTERLOK-681](https://adaptris.atlassian.net/browse/INTERLOK-681) - Add a PayloadToMetadataService & reverse
