## Version 3.0.2 ##

Release Date : 2015-05-14


### Bugs

- [INTERLOK-214](https://adaptris.atlassian.net/browse/INTERLOK-214) - Dashboard Page - The 'show workflows' option is reset upon a refresh event.
- [INTERLOK-424](https://adaptris.atlassian.net/browse/INTERLOK-424) - GUI unit tests fail with java8
- [INTERLOK-427](https://adaptris.atlassian.net/browse/INTERLOK-427) - Cannot have multiple ehcache.xml configurations.
- [INTERLOK-428](https://adaptris.atlassian.net/browse/INTERLOK-428) - Distributed ehcache - Restarting cache components breaks all caches.
- [INTERLOK-430](https://adaptris.atlassian.net/browse/INTERLOK-430) - FTP Producer does not throw ProduceException if it fails to write the file.
- [INTERLOK-432](https://adaptris.atlassian.net/browse/INTERLOK-432) - NPE thrown by JmsConnectionErrorHandlerImpl
- [INTERLOK-437](https://adaptris.atlassian.net/browse/INTERLOK-437) - BapiXmlGenerator / RfcXmlGenerator cannot use a shared connection
- [INTERLOK-438](https://adaptris.atlassian.net/browse/INTERLOK-438) - BapiXmlGenerator / BapiRfcGenerator cannot be part of an RfcServiceList
- [INTERLOK-444](https://adaptris.atlassian.net/browse/INTERLOK-444) - Presence of ROOT.war in /webapps directory stops jetty message consumer working for embedded connection
- [INTERLOK-447](https://adaptris.atlassian.net/browse/INTERLOK-447) - Platform Memory Heap Chart Hover tooltip is wrong....
- [INTERLOK-451](https://adaptris.atlassian.net/browse/INTERLOK-451) - A NPE occurs when opening the setting modal
- [INTERLOK-462](https://adaptris.atlassian.net/browse/INTERLOK-462) - The javascript component getJsonData return too much data
- [INTERLOK-463](https://adaptris.atlassian.net/browse/INTERLOK-463) - Interlok GUI applies config to the wrong adapter when running multiple adapters on same install
- [INTERLOK-471](https://adaptris.atlassian.net/browse/INTERLOK-471) - Remove license.properties from the nightly builds base-filesystem.zip
- [INTERLOK-472](https://adaptris.atlassian.net/browse/INTERLOK-472) - ui config - add metadata service is not working correctly
- [INTERLOK-487](https://adaptris.atlassian.net/browse/INTERLOK-487) - licenses.zip should be part of runtime-libraries.zip
- [INTERLOK-491](https://adaptris.atlassian.net/browse/INTERLOK-491) - A Standard style "URL" doesn't work with fs-immediate-event-poller


### Improvements

- [INTERLOK-225](https://adaptris.atlassian.net/browse/INTERLOK-225) - UI Config Page - 'Save as Template'
- [INTERLOK-373](https://adaptris.atlassian.net/browse/INTERLOK-373) - include a annotation for input types on the adapter model for non-regular types such as xml or sql etc
- [INTERLOK-379](https://adaptris.atlassian.net/browse/INTERLOK-379) - UI - Write a brief spec outling how the config will integrate into subversion
- [INTERLOK-382](https://adaptris.atlassian.net/browse/INTERLOK-382) - Sonic Container - Interlok testing
- [INTERLOK-392](https://adaptris.atlassian.net/browse/INTERLOK-392) - UI Config - improve string inputs to allow user to convert input into text area
- [INTERLOK-401](https://adaptris.atlassian.net/browse/INTERLOK-401) - com.adaptris.core.http.jetty.ResponseProducer should use MetadataFilter
- [INTERLOK-402](https://adaptris.atlassian.net/browse/INTERLOK-402) - Add a RemoveAllMetadataFilter and modify all producers that can send metadata
- [INTERLOK-413](https://adaptris.atlassian.net/browse/INTERLOK-413) - Upgrade build environment to java8
- [INTERLOK-417](https://adaptris.atlassian.net/browse/INTERLOK-417) - UI - Change Force Close function to report an error to the UI window when in jmxmp mode
- [INTERLOK-419](https://adaptris.atlassian.net/browse/INTERLOK-419) - Preferences -> requestTimeout should be editable. ...
- [INTERLOK-429](https://adaptris.atlassian.net/browse/INTERLOK-429) - The filter-expression should be used to filter valid http methods for MessageConsumer
- [INTERLOK-435](https://adaptris.atlassian.net/browse/INTERLOK-435) - connection-attempts can't be set to -1 via GUI. ...
- [INTERLOK-440](https://adaptris.atlassian.net/browse/INTERLOK-440) - Rendering Options in IdocConsumer should be "or'd" together
- [INTERLOK-441](https://adaptris.atlassian.net/browse/INTERLOK-441) - Parsing Options in IdocProducer should be or'd together
- [INTERLOK-442](https://adaptris.atlassian.net/browse/INTERLOK-442) - IdocFormat should really be an enum
- [INTERLOK-445](https://adaptris.atlassian.net/browse/INTERLOK-445) - Set message factory for LineCountSplitter to DefaultMessageFactory
- [INTERLOK-446](https://adaptris.atlassian.net/browse/INTERLOK-446) - NPE when viewing the "XML" from the dashboard...
- [INTERLOK-448](https://adaptris.atlassian.net/browse/INTERLOK-448) - Change the "Domain" from Adaptris for the MBeans
- [INTERLOK-452](https://adaptris.atlassian.net/browse/INTERLOK-452) - Add a force close button for the adpaters in the dashboard
- [INTERLOK-455](https://adaptris.atlassian.net/browse/INTERLOK-455) - Add a log4jUrl property to bootstrap.properties
- [INTERLOK-456](https://adaptris.atlassian.net/browse/INTERLOK-456) - Make JavaHL / SVNKit reflective
- [INTERLOK-466](https://adaptris.atlassian.net/browse/INTERLOK-466) - AdapterRegistry needs to track the "URLs" that were used to create the adapter.
- [INTERLOK-357](https://adaptris.atlassian.net/browse/INTERLOK-357) - UI Config Setting Editor - add a xpath feature to settings
- [INTERLOK-358](https://adaptris.atlassian.net/browse/INTERLOK-358) - UI Dashboard - enable a tiled-view/compact-view for the listed adapters
- [INTERLOK-383](https://adaptris.atlassian.net/browse/INTERLOK-383) - Update SonicMF to use the UnifiedBootstrap
- [INTERLOK-399](https://adaptris.atlassian.net/browse/INTERLOK-399) - Adapter Boostrap with VCS (subversion)
- [INTERLOK-475](https://adaptris.atlassian.net/browse/INTERLOK-475) - LicenseExpiryWarningEvent interoperability with v2.
- [INTERLOK-476](https://adaptris.atlassian.net/browse/INTERLOK-476) - DefaultAdapterStartupEvent interoperability with v2

