## Version 3.6.1 ##

Release Date : 2017-04-13


### Bugs
- [INTERLOK-835](https://adaptris.atlassian.net/browse/INTERLOK-835) - Update templates to not use "deprecated" classes
- [INTERLOK-1433](https://adaptris.atlassian.net/browse/INTERLOK-1433) - UI Config - page init doesn't always obey the user pref 'Always attempt to load the active adapter'
- [INTERLOK-1455](https://adaptris.atlassian.net/browse/INTERLOK-1455) - Adapter fails to exit due to the jmx logger
- [INTERLOK-1458](https://adaptris.atlassian.net/browse/INTERLOK-1458) - UI Config - add moda page missing icon for 'add shared connection'
- [INTERLOK-1463](https://adaptris.atlassian.net/browse/INTERLOK-1463) - PayloadFromMetadataService has template as an optional field, but then requires in during the initService method
- [INTERLOK-1467](https://adaptris.atlassian.net/browse/INTERLOK-1467) - Squashed Heap Memory Icon
- [INTERLOK-1469](https://adaptris.atlassian.net/browse/INTERLOK-1469) - UI Optional - the license icon always shows on every component
- [INTERLOK-1478](https://adaptris.atlassian.net/browse/INTERLOK-1478) - UI Templates - Ensure EDI Templates are displayed correctly
- [INTERLOK-1482](https://adaptris.atlassian.net/browse/INTERLOK-1482) - Adapter depends on both bcprov and bcprov-ext
- [INTERLOK-1487](https://adaptris.atlassian.net/browse/INTERLOK-1487) - Warning on nightly build startup (post 3.6.0)
- [INTERLOK-1488](https://adaptris.atlassian.net/browse/INTERLOK-1488) - WebsphereMQ vendor implementation does not implement getBrokerDetailsForLogging()
- [INTERLOK-1489](https://adaptris.atlassian.net/browse/INTERLOK-1489) - Widen the net for Exceptions during JMS Connect
- [INTERLOK-1494](https://adaptris.atlassian.net/browse/INTERLOK-1494) - The "Add Shared Connection" button in the Add Connection modal is no shown anymore
- [INTERLOK-1499](https://adaptris.atlassian.net/browse/INTERLOK-1499) - XML to JSON Transform defaults to empty array for empty xml elements
- [INTERLOK-1500](https://adaptris.atlassian.net/browse/INTERLOK-1500) - RuntimeVersionControl does not work with interlok-container
- [INTERLOK-1507](https://adaptris.atlassian.net/browse/INTERLOK-1507) - UI Widgets - the daily message chart is displaying wrong
- [INTERLOK-1514](https://adaptris.atlassian.net/browse/INTERLOK-1514) - UI Dashboard - Add Adapter - ensure validation is correct and env parameters are used
- [INTERLOK-1519](https://adaptris.atlassian.net/browse/INTERLOK-1519) - UI Widgets - failure to add widgets due to persistence validation error
- [INTERLOK-1522](https://adaptris.atlassian.net/browse/INTERLOK-1522) - JsonSchemaService doesn't work due to class mismatch
- [INTERLOK-1524](https://adaptris.atlassian.net/browse/INTERLOK-1524) - Add by XML snippet doesn't display in the form properly.
- [INTERLOK-1525](https://adaptris.atlassian.net/browse/INTERLOK-1525) - Support pack link broken in dashboard
- [INTERLOK-1532](https://adaptris.atlassian.net/browse/INTERLOK-1532) - interlok-es5 + es:es:5.0.0 causes an issue with log4j2 2.8.1
- [INTERLOK-1537](https://adaptris.atlassian.net/browse/INTERLOK-1537) - UI Config - Error applying config where adapter uid is different than running adapters uid
- [INTERLOK-1541](https://adaptris.atlassian.net/browse/INTERLOK-1541) - ReplaceMetadataValue doesn't allow an empty replacement
- [INTERLOK-1547](https://adaptris.atlassian.net/browse/INTERLOK-1547) - UI Config - Apply Config modal window gets stuck if it encounters an issue
- [INTERLOK-1562](https://adaptris.atlassian.net/browse/INTERLOK-1562) - NullPointerException initialising VertxService

### Improvements
- [INTERLOK-1210](https://adaptris.atlassian.net/browse/INTERLOK-1210) - Create HTTP Service
- [INTERLOK-1318](https://adaptris.atlassian.net/browse/INTERLOK-1318) - Make it easy to create a soap web service via the UI importing request and response schema
- [INTERLOK-1333](https://adaptris.atlassian.net/browse/INTERLOK-1333) - UI Optional - consider advanced options
- [INTERLOK-1389](https://adaptris.atlassian.net/browse/INTERLOK-1389) - UI Config - Support shared Service-Lists
- [INTERLOK-1405](https://adaptris.atlassian.net/browse/INTERLOK-1405) - UI Config - add the Classname / package to the searchable content (on add screen)
- [INTERLOK-1414](https://adaptris.atlassian.net/browse/INTERLOK-1414) - UI Config - extend save to support x-includes
- [INTERLOK-1427](https://adaptris.atlassian.net/browse/INTERLOK-1427) - Change the filename of the downloadable installers to something meaningful
- [INTERLOK-1429](https://adaptris.atlassian.net/browse/INTERLOK-1429) - UI Config - add user pref - always show action buttons on the components
- [INTERLOK-1431](https://adaptris.atlassian.net/browse/INTERLOK-1431) - UI Config - Testing Sidebar Panel
- [INTERLOK-1434](https://adaptris.atlassian.net/browse/INTERLOK-1434) - UI Widgets - update the add widget modal with the new card style
- [INTERLOK-1449](https://adaptris.atlassian.net/browse/INTERLOK-1449) - UI Config - Add code assist for script input
- [INTERLOK-1466](https://adaptris.atlassian.net/browse/INTERLOK-1466) - UI Config - Link to Edit Shared Components from its use
- [INTERLOK-1492](https://adaptris.atlassian.net/browse/INTERLOK-1492) - interlok-container w/o classloader functionality
- [INTERLOK-1495](https://adaptris.atlassian.net/browse/INTERLOK-1495) - Expression Language for String fields
- [INTERLOK-1497](https://adaptris.atlassian.net/browse/INTERLOK-1497) - Reload from VCS / Bootstrap properties doesn't work with interlok-container
- [INTERLOK-1498](https://adaptris.atlassian.net/browse/INTERLOK-1498) - Opensource interlok-hpcc
- [INTERLOK-1501](https://adaptris.atlassian.net/browse/INTERLOK-1501) - Create Transform implementations to convert null to "" and vice versa
- [INTERLOK-1504](https://adaptris.atlassian.net/browse/INTERLOK-1504) - Add a external REST api to retrieve the status of all attached adapters
- [INTERLOK-1520](https://adaptris.atlassian.net/browse/INTERLOK-1520) - Support HTTP proxying within the adapter and replace ProxyServlet$Transparent
- [INTERLOK-1400](https://adaptris.atlassian.net/browse/INTERLOK-1400) - Consider catching unchecked exceptions on startup.
- [INTERLOK-1465](https://adaptris.atlassian.net/browse/INTERLOK-1465) - ManagementComponent Lifecycle check.
- [INTERLOK-1474](https://adaptris.atlassian.net/browse/INTERLOK-1474) - Sonic Container: Integrate logging with container logs
- [INTERLOK-1475](https://adaptris.atlassian.net/browse/INTERLOK-1475) - Sonic Container: Allow variable substitution with deployment parameters
- [INTERLOK-1502](https://adaptris.atlassian.net/browse/INTERLOK-1502) - Use reloadFromConfig(ObjectName) + reloadFromVCS(ObjectName) rather than existing methods.
- [INTERLOK-1503](https://adaptris.atlassian.net/browse/INTERLOK-1503) - Add a LoggingContextWorkflowInterceptor






