## Version 3.1.1 ##

Release Date : 2016-01-28

### Bugs

- [INTERLOK-717](https://adaptris.atlassian.net/browse/INTERLOK-717) - UI - Add Metadata Service Template fails the validation function even tho it is valid
- [INTERLOK-726](https://adaptris.atlassian.net/browse/INTERLOK-726) - UI Config - Editing the service collection thats selected by the collections selector has no effect
- [INTERLOK-736](https://adaptris.atlassian.net/browse/INTERLOK-736) - UI Config Odd Channel Display Name
- [INTERLOK-737](https://adaptris.atlassian.net/browse/INTERLOK-737) - UI Config - Schema Template not showing wizard input
- [INTERLOK-740](https://adaptris.atlassian.net/browse/INTERLOK-740) - xinclude pre-processor doesn't work with guava 18.
- [INTERLOK-742](https://adaptris.atlassian.net/browse/INTERLOK-742) - UI Config - Save as template not working with metadata key value pairs
- [INTERLOK-744](https://adaptris.atlassian.net/browse/INTERLOK-744) - UI Config - save as template - xpath calculator wrong for XpathMetadataService 'XPath Query'
- [INTERLOK-754](https://adaptris.atlassian.net/browse/INTERLOK-754) - UI - save as template - needs to work with XStreamImplicit itemFieldName
- [INTERLOK-755](https://adaptris.atlassian.net/browse/INTERLOK-755) - UI Config - Post Apply, the Shared connection in jdbc service is reverted to full string url
- [INTERLOK-757](https://adaptris.atlassian.net/browse/INTERLOK-757) - The jdbc service list doesn't display databaseConnection settign in the modal
- [INTERLOK-760](https://adaptris.atlassian.net/browse/INTERLOK-760) - UI Config - JmsConsumer settings show no options for Message Factory
- [INTERLOK-765](https://adaptris.atlassian.net/browse/INTERLOK-765) - UI Config - the add component summary should be present on the search
- [INTERLOK-768](https://adaptris.atlassian.net/browse/INTERLOK-768) - Cannot start the adapter from a HTTP based URL.

### Improvements

- [INTERLOK-224](https://adaptris.atlassian.net/browse/INTERLOK-224) - UI Config Page - add/paste component to a specific index rather than just at the end of the collection
- [INTERLOK-290](https://adaptris.atlassian.net/browse/INTERLOK-290) - Add "pre-processor" functionality into AdaptrisMarshaller
- [INTERLOK-307](https://adaptris.atlassian.net/browse/INTERLOK-307) - UI Config - make it easier to replace consumer,producer&connections - i.e. replace rather than delete&insert
- [INTERLOK-384](https://adaptris.atlassian.net/browse/INTERLOK-384) - Change "display" name from classname to the XStreamAlias
- [INTERLOK-592](https://adaptris.atlassian.net/browse/INTERLOK-592) - Support password authentication for jmxmp
- [INTERLOK-626](https://adaptris.atlassian.net/browse/INTERLOK-626) - UI Needs to handle RequestReplyWorkflow
- [INTERLOK-718](https://adaptris.atlassian.net/browse/INTERLOK-718) - UI - improve performance of the add component function on the config page
- [INTERLOK-719](https://adaptris.atlassian.net/browse/INTERLOK-719) - UI Config Page - improve the display of the raw components folder in the add component modal
- [INTERLOK-720](https://adaptris.atlassian.net/browse/INTERLOK-720) - Handle password support for JMXMP in the UI.
- [INTERLOK-724](https://adaptris.atlassian.net/browse/INTERLOK-724) - Update phantomjs to the latest version
- [INTERLOK-725](https://adaptris.atlassian.net/browse/INTERLOK-725) - UI Config - Add ability to name the root collections when adding a component
- [INTERLOK-727](https://adaptris.atlassian.net/browse/INTERLOK-727) - UI Config - Add ability to 'go to' collection from within a settings editor
- [INTERLOK-728](https://adaptris.atlassian.net/browse/INTERLOK-728) - Add a new class level annotation to provide a summary of the component
- [INTERLOK-731](https://adaptris.atlassian.net/browse/INTERLOK-731) - Improve JDBC DataCapture Logging
- [INTERLOK-733](https://adaptris.atlassian.net/browse/INTERLOK-733) - Document @AdapterComponent
- [INTERLOK-735](https://adaptris.atlassian.net/browse/INTERLOK-735) - UI Config - Event handler using a shared connection
- [INTERLOK-745](https://adaptris.atlassian.net/browse/INTERLOK-745) - Handle password support for JMXMP for external adapter api call using the UI.
- [INTERLOK-747](https://adaptris.atlassian.net/browse/INTERLOK-747) - Add documentation for how to add Shared Connection in the UI
- [INTERLOK-752](https://adaptris.atlassian.net/browse/INTERLOK-752) - Need a way of iterating over the same payload.
- [INTERLOK-756](https://adaptris.atlassian.net/browse/INTERLOK-756) - Allow users to configure attributes on the TransformerFactory
- [INTERLOK-758](https://adaptris.atlassian.net/browse/INTERLOK-758) - JSON SimpleTransformationDriver should support Arrays
