## Version 3.6.0 ##

Release Date : 2017-03-03

This release updates jetty from 8.1.x to 9.4.x; as a result you will need java 8 to run the adapter. The jetty configuration has also changed quite a bit; if you have customised your jetty.xml then you will need to cross reference it with the jetty.xml that is shipped with Interlok. Java 7 has been EOL'd and we are expecting Java 9 to be released in the next few months; we anticipate that most businesses will already be looking to upgrade/are already running Java 8. In the event that there are enough customer requests for it, then we will downgrade to jetty 9.2.x which still works with java 7.

The changes for [INTERLOK-1395](https://adaptris.atlassian.net/browse/INTERLOK-1395), [INTERLOK-512](https://adaptris.atlassian.net/browse/INTERLOK-512) and  [INTERLOK-1394](https://adaptris.atlassian.net/browse/INTERLOK-1394) may cause your configuration to be invalid so please take care when upgrading.

### Bugs

- [INTERLOK-1266](https://adaptris.atlassian.net/browse/INTERLOK-1266) - Advanced Message Splitter Misbehaves With Namespaces
- [INTERLOK-1268](https://adaptris.atlassian.net/browse/INTERLOK-1268) - Adding a widget group *requires* a description
- [INTERLOK-1355](https://adaptris.atlassian.net/browse/INTERLOK-1355) - interlok-variable-substitution throws NPE for non-existent file
- [INTERLOK-1376](https://adaptris.atlassian.net/browse/INTERLOK-1376) - RetryMessageErrorHandler doesn't cope with a failed timer
- [INTERLOK-1378](https://adaptris.atlassian.net/browse/INTERLOK-1378) - UI Config - Clicking on adapter label opens up an empty channel
- [INTERLOK-1380](https://adaptris.atlassian.net/browse/INTERLOK-1380) - FtpConsumer - can hang while waiting for data
- [INTERLOK-1381](https://adaptris.atlassian.net/browse/INTERLOK-1381) - Double "version" logging when using simple bootstrap
- [INTERLOK-1382](https://adaptris.atlassian.net/browse/INTERLOK-1382) - UI Config - the dropdown buttons lose their text on small screens
- [INTERLOK-1385](https://adaptris.atlassian.net/browse/INTERLOK-1385) - SimpleBootstrap no longer works with non-standard directories.
- [INTERLOK-1386](https://adaptris.atlassian.net/browse/INTERLOK-1386) - UI - update all links to documentation site
- [INTERLOK-1391](https://adaptris.atlassian.net/browse/INTERLOK-1391) - UI - DbUrlManagerTest.testLegacyLegacyAndNewDbExists failing on jenkins
- [INTERLOK-1394](https://adaptris.atlassian.net/browse/INTERLOK-1394) - Standardise use of fileNameCreator vs filenameCreator
- [INTERLOK-1399](https://adaptris.atlassian.net/browse/INTERLOK-1399) - XmlEdiStreamService always uses edifact charset
- [INTERLOK-1404](https://adaptris.atlassian.net/browse/INTERLOK-1404) - UI Optional - page loading modal stays on when not connected to internet
- [INTERLOK-1416](https://adaptris.atlassian.net/browse/INTERLOK-1416) - Fix pom information in Interlok MQTT project
- [INTERLOK-1432](https://adaptris.atlassian.net/browse/INTERLOK-1432) - Duff logging for DefaultEhCache
- [INTERLOK-1436](https://adaptris.atlassian.net/browse/INTERLOK-1436) - The maven purge local dependency doesn't work since we changed package to com.adaptris.ui.
- [INTERLOK-1440](https://adaptris.atlassian.net/browse/INTERLOK-1440) - Issue in interlok-logging when the log4j2.xml is modified while the adapter is running
- [INTERLOK-1447](https://adaptris.atlassian.net/browse/INTERLOK-1447) - Update the URL shortcut that the installer creates
- [INTERLOK-1452](https://adaptris.atlassian.net/browse/INTERLOK-1452) - BytesMessageTranslator does not work where bytesMessage.read() returns -1
- [INTERLOK-1461](https://adaptris.atlassian.net/browse/INTERLOK-1461) - ActiveMQ Connections attempt reconnect to ActiveMQ Component during shutdown.
- [INTERLOK-1462](https://adaptris.atlassian.net/browse/INTERLOK-1462) - WebsphereMQ shouldn't have a dependency on stax-api.jar
- [INTERLOK-1471](https://adaptris.atlassian.net/browse/INTERLOK-1471) - LicenseFactory doesn't work with absolute locations


### Improvements

- [INTERLOK-352](https://adaptris.atlassian.net/browse/INTERLOK-352) - UI - Settings Editor XML Mode - add a download feature
- [INTERLOK-374](https://adaptris.atlassian.net/browse/INTERLOK-374) - UI Config - add a user pref to have vim key bindings on the code mirror editter
- [INTERLOK-512](https://adaptris.atlassian.net/browse/INTERLOK-512) - Upgrade embedded jetty to the latest-stable
- [INTERLOK-588](https://adaptris.atlassian.net/browse/INTERLOK-588) - In the vcs profile list provide two buttons, one to reset/delete the working copy and one to download it.
- [INTERLOK-786](https://adaptris.atlassian.net/browse/INTERLOK-786) - UI Config - Load Active Adapter is not greyed out when you have no adapters in the dashboard.
- [INTERLOK-1042](https://adaptris.atlassian.net/browse/INTERLOK-1042) - Consider moving getUniqueId into AdaptrisComponent
- [INTERLOK-1051](https://adaptris.atlassian.net/browse/INTERLOK-1051) - Added "service-list" as a shared component
- [INTERLOK-1059](https://adaptris.atlassian.net/browse/INTERLOK-1059) - Ability to modify an adapters's log4j.xml in the UI
- [INTERLOK-1142](https://adaptris.atlassian.net/browse/INTERLOK-1142) - RabbitMQ via JMS
- [INTERLOK-1183](https://adaptris.atlassian.net/browse/INTERLOK-1183) - UI - Consider changing the URL path of the UI (adapter-web-gui)
- [INTERLOK-1222](https://adaptris.atlassian.net/browse/INTERLOK-1222) - Apply changes from INTERLOK-1211 to AddFormatedMetadataService
- [INTERLOK-1236](https://adaptris.atlassian.net/browse/INTERLOK-1236) - UI Config - Create a sidebar that allows JSON to settings params
- [INTERLOK-1258](https://adaptris.atlassian.net/browse/INTERLOK-1258) - UI Dashboard - SupportPack.zip does not contain the message
- [INTERLOK-1263](https://adaptris.atlassian.net/browse/INTERLOK-1263) - Display Adapter ID at the bottom of the logging window
- [INTERLOK-1264](https://adaptris.atlassian.net/browse/INTERLOK-1264) - MBean methods required to load class descriptors
- [INTERLOK-1320](https://adaptris.atlassian.net/browse/INTERLOK-1320) - UI - Build config sidebar framework
- [INTERLOK-1334](https://adaptris.atlassian.net/browse/INTERLOK-1334) - UI Optional - add function to detect which components you have installed on registered adapter
- [INTERLOK-1347](https://adaptris.atlassian.net/browse/INTERLOK-1347) - Sftp Connections should support both Key + username/password auth.
- [INTERLOK-1349](https://adaptris.atlassian.net/browse/INTERLOK-1349) - UI DB - Adapter GUI DB Move to a sub-directory
- [INTERLOK-1351](https://adaptris.atlassian.net/browse/INTERLOK-1351) - ManagementtComponent to embed ActiveMQ
- [INTERLOK-1352](https://adaptris.atlassian.net/browse/INTERLOK-1352) - Add dynamic username password support to apache-http.component.
- [INTERLOK-1354](https://adaptris.atlassian.net/browse/INTERLOK-1354) - UI - if newer version available, add upgrade information alert
- [INTERLOK-1358](https://adaptris.atlassian.net/browse/INTERLOK-1358) - Interlok Service Test - Assert Xpath Boolean
- [INTERLOK-1360](https://adaptris.atlassian.net/browse/INTERLOK-1360) - UI Config - further improve the css / html post re-design
- [INTERLOK-1361](https://adaptris.atlassian.net/browse/INTERLOK-1361) - UI Config - maintain state of workflow component selection while tab switching channels
- [INTERLOK-1384](https://adaptris.atlassian.net/browse/INTERLOK-1384) - UI Dashboard - Add a small description under the url field to make it easier to understand what to put it.
- [INTERLOK-1395](https://adaptris.atlassian.net/browse/INTERLOK-1395) - Remove @Deprecated methods, everything before 3.3.0
- [INTERLOK-1396](https://adaptris.atlassian.net/browse/INTERLOK-1396) - Switch round MessageDriveDestination / ProduceDestination
- [INTERLOK-1402](https://adaptris.atlassian.net/browse/INTERLOK-1402) - UI Optional - add cache to optional loading
- [INTERLOK-1403](https://adaptris.atlassian.net/browse/INTERLOK-1403) - UI Init - place nexus tasks to asynchronously process
- [INTERLOK-1407](https://adaptris.atlassian.net/browse/INTERLOK-1407) - update project information for 'interlok-activemq'
- [INTERLOK-1418](https://adaptris.atlassian.net/browse/INTERLOK-1418) - UI - Help hover doesn't allow scrolling
- [INTERLOK-1421](https://adaptris.atlassian.net/browse/INTERLOK-1421) - Update swagger codegen with later code from github
- [INTERLOK-1424](https://adaptris.atlassian.net/browse/INTERLOK-1424) - Capture the HTTP response body in the event of errors
- [INTERLOK-1430](https://adaptris.atlassian.net/browse/INTERLOK-1430) - UI Config - add user pref - stop minimizing the channel/workflow areas
- [INTERLOK-1435](https://adaptris.atlassian.net/browse/INTERLOK-1435) - Centralise the adaptris and help link urls
- [INTERLOK-1439](https://adaptris.atlassian.net/browse/INTERLOK-1439) - Fix interlok-ui-swagger-codegen to use the new jetty 9 EmbeddedConnection
- [INTERLOK-1444](https://adaptris.atlassian.net/browse/INTERLOK-1444) - license.properties shouldn't have to have adp.license.key=
- [INTERLOK-1447](https://adaptris.atlassian.net/browse/INTERLOK-1447) - Update the URL shortcut that the installer creates
- [INTERLOK-1448](https://adaptris.atlassian.net/browse/INTERLOK-1448) - Add documentation for the new log configuration page








