## Version 3.9.2 ##

Release Date : 2019-10

### Bugs

- [INTERLOK-2788](https://adaptris.atlassian.net/browse/INTERLOK-2788) - UI: 'On the RBI network detector' is unreliable since it only checks for HTTP_OK
- [INTERLOK-2804](https://adaptris.atlassian.net/browse/INTERLOK-2804) - UI Config - Optional lists that default to null 'are not handled gracefully'
- [INTERLOK-2816](https://adaptris.atlassian.net/browse/INTERLOK-2816) - UI Config - Not all impl classes are loaded for selection when using the config settings editor.
- [INTERLOK-2894](https://adaptris.atlassian.net/browse/INTERLOK-2894) - UI config editor does not support multiple generics
- [INTERLOK-2910](https://adaptris.atlassian.net/browse/INTERLOK-2910) - Apache Artemis optional component externalUrl point to activemq root url
- [INTERLOK-2922](https://adaptris.atlassian.net/browse/INTERLOK-2922) - edi-xml-stream-service fails to interpret &gt; entity within &lt;Loop&gt;/&lt;Count&gt; elements of EDI Specbuilder edi definition files
- [INTERLOK-2923](https://adaptris.atlassian.net/browse/INTERLOK-2923) - Upgrade to commons-beanutils 1.9.4 in interlok-ui
- [INTERLOK-2926](https://adaptris.atlassian.net/browse/INTERLOK-2926) - SymmetricKeyCryptoService doesn't explicitly enable bouncy castle algorithms
- [INTERLOK-2944](https://adaptris.atlassian.net/browse/INTERLOK-2944) - Config Page Settings editor - Token Input Selector faults when user selects an entry on the list using the enter key
- [INTERLOK-2949](https://adaptris.atlassian.net/browse/INTERLOK-2949) - UI - Investigate why our welcome.png is showing when we put a html error response into our error well
- [INTERLOK-2951](https://adaptris.atlassian.net/browse/INTERLOK-2951) - CacheEntryEvaluators do not display in nightly snapshot
- [INTERLOK-2961](https://adaptris.atlassian.net/browse/INTERLOK-2961) - Get OAUTH Tokens does not log the raw response.
- [INTERLOK-2970](https://adaptris.atlassian.net/browse/INTERLOK-2970) - UI Config - The Database Preview sidebar doesn't work with MySQL 8+
- [INTERLOK-2976](https://adaptris.atlassian.net/browse/INTERLOK-2976) - UI Suggested component failure to register click
- [INTERLOK-2982](https://adaptris.atlassian.net/browse/INTERLOK-2982) - JdbcDataQuery + JdbcDataCapture can 'leak' PreparedStatements
- [INTERLOK-2983](https://adaptris.atlassian.net/browse/INTERLOK-2983) - StoredProcedureProducer can leak statements in some configurations.
- [INTERLOK-2989](https://adaptris.atlassian.net/browse/INTERLOK-2989) - UI Config - When deleting a shared component connection the warning prompt mentions more reference than there is.
- [INTERLOK-2991](https://adaptris.atlassian.net/browse/INTERLOK-2991) - UI Dashboard - Show Add Adapter Advanced Options doesn't work well.
  
### Improvements

- [INTERLOK-1491](https://adaptris.atlassian.net/browse/INTERLOK-1491) - UI Config - Add a 'command parser' when configuring the system-command-service
- [INTERLOK-1510](https://adaptris.atlassian.net/browse/INTERLOK-1510) - Add either a pie(donut) or table that shows the daily cumulative total
- [INTERLOK-1527](https://adaptris.atlassian.net/browse/INTERLOK-1527) - Add support for 'MIME' encoded messages when uploading a doc during testing
- [INTERLOK-1904](https://adaptris.atlassian.net/browse/INTERLOK-1904) - Solace - catching/handling queue shutdowns
- [INTERLOK-2142](https://adaptris.atlassian.net/browse/INTERLOK-2142) - UI Profiler v1 - Implement the UI agent that'll be used to gather the profiling data
- [INTERLOK-2143](https://adaptris.atlassian.net/browse/INTERLOK-2143) - UI Profiler v1 - Implement the UI backend that'll work with the ui agent to format data for the front-end
- [INTERLOK-2144](https://adaptris.atlassian.net/browse/INTERLOK-2144) - UI Profiler v1 - Implement the UI front-end that'll display profiling data to the user
- [INTERLOK-2178](https://adaptris.atlassian.net/browse/INTERLOK-2178) - UI - Upgrade Flyway to the latest stable
- [INTERLOK-2450](https://adaptris.atlassian.net/browse/INTERLOK-2450) - Profiler compile for 1.8
- [INTERLOK-2462](https://adaptris.atlassian.net/browse/INTERLOK-2462) - Bump hibernate-validator from 4.3.2.Final to 6.0.13.Final
- [INTERLOK-2663](https://adaptris.atlassian.net/browse/INTERLOK-2663) - Make 'advanced-config' a 3 way toggle.
- [INTERLOK-2710](https://adaptris.atlassian.net/browse/INTERLOK-2710) - UI Component Search - improve the es index weights, etc
- [INTERLOK-2805](https://adaptris.atlassian.net/browse/INTERLOK-2805) - UI Config - Add deprecated warnings to the config validation panel
- [INTERLOK-2842](https://adaptris.atlassian.net/browse/INTERLOK-2842) - XA - Async producers
- [INTERLOK-2869](https://adaptris.atlassian.net/browse/INTERLOK-2869) - Opensource projects should have both .dependabot & .lgtm.yml
- [INTERLOK-2890](https://adaptris.atlassian.net/browse/INTERLOK-2890) - interlok-aws-s3: Add styles to the S3 List Operation
- [INTERLOK-2907](https://adaptris.atlassian.net/browse/INTERLOK-2907) - Merge actional-stabiliser + actional-interceptor into a single gradle multimodule
- [INTERLOK-2908](https://adaptris.atlassian.net/browse/INTERLOK-2908) - Support different authentication schemes for AWS; not just static key/secret
- [INTERLOK-2911](https://adaptris.atlassian.net/browse/INTERLOK-2911) - Add additional AWSCredentialProviderBuilder impls.
- [INTERLOK-2916](https://adaptris.atlassian.net/browse/INTERLOK-2916) - Make FtpConsumers support FileFilters that aren't just 'name based'
- [INTERLOK-2917](https://adaptris.atlassian.net/browse/INTERLOK-2917) - Bump jersey from 2.3.1 to the latest 2.28 or even 2.29 as part of eclipse-ee4j
- [INTERLOK-2924](https://adaptris.atlassian.net/browse/INTERLOK-2924) - Add option to metadata-to-json to add a trailing newline for interoperability
- [INTERLOK-2925](https://adaptris.atlassian.net/browse/INTERLOK-2925) - UI - integrate the Interlok blog into the ui
- [INTERLOK-2929](https://adaptris.atlassian.net/browse/INTERLOK-2929) - Support HikariCP as a pool impl for Pooled JDBC Connections
- [INTERLOK-2936](https://adaptris.atlassian.net/browse/INTERLOK-2936) - Check over Optional Components doc page
- [INTERLOK-2939](https://adaptris.atlassian.net/browse/INTERLOK-2939) - Default distribution should include interlok-varsub as part of lib/
- [INTERLOK-2943](https://adaptris.atlassian.net/browse/INTERLOK-2943) - SimpleFactoryConfiguration rewrite to use SimpleBeanUtils
- [INTERLOK-2945](https://adaptris.atlassian.net/browse/INTERLOK-2945) - INTERLOK-XA coverage is low - 50-60%
- [INTERLOK-2965](https://adaptris.atlassian.net/browse/INTERLOK-2965) - Add simplified cache services to avoid XML bloat
- [INTERLOK-2988](https://adaptris.atlassian.net/browse/INTERLOK-2988) - JsonSchemaService should support more options when loading the schema
- [INTERLOK-2993](https://adaptris.atlassian.net/browse/INTERLOK-2993) - UI Config -The config last modified should not be saved into the config-project.json
- [INTERLOK-2849](https://adaptris.atlassian.net/browse/INTERLOK-2849) - UI Config - Settings Editor - 'Change Type' feature should copy common settings when switching type
- [INTERLOK-2927](https://adaptris.atlassian.net/browse/INTERLOK-2927) - Warning from jersey HttpUrlConnector
- [INTERLOK-2937](https://adaptris.atlassian.net/browse/INTERLOK-2937) - Update documentation with new components
- [INTERLOK-2940](https://adaptris.atlassian.net/browse/INTERLOK-2940) - UI Optional Component - Deprecated warnings on the 'component cards' isn't sufficient enough to properly warn the user
- [INTERLOK-2969](https://adaptris.atlassian.net/browse/INTERLOK-2969) - UI - Upgrade Jackson to 2.10.0
- [INTERLOK-2987](https://adaptris.atlassian.net/browse/INTERLOK-2987) - UI Config - When copy and paste a component using the buttons we don't need the -Copy suffix anymore.
  