## Version 3.0.5 ##

Release Date : 2015-09-10

### Bugs

- [INTERLOK-563](https://adaptris.atlassian.net/browse/INTERLOK-563) - BranchingServiceCollection doesn't restart services on exception
- [INTERLOK-600](https://adaptris.atlassian.net/browse/INTERLOK-600) - Re-build the build scripts to handle git
- [INTERLOK-601](https://adaptris.atlassian.net/browse/INTERLOK-601) - Password encryption not happening when checking the box
- [INTERLOK-606](https://adaptris.atlassian.net/browse/INTERLOK-606) - CVS - commons snapshot library no longer exists, needs dependency update.
- [INTERLOK-613](https://adaptris.atlassian.net/browse/INTERLOK-613) - Sporadic javascript error in the login page
- [INTERLOK-617](https://adaptris.atlassian.net/browse/INTERLOK-617) - System Preference page throw a 500 error with java 1.7
- [INTERLOK-622](https://adaptris.atlassian.net/browse/INTERLOK-622) - AmazonSQSConsumer does not receive message attributes
- [INTERLOK-629](https://adaptris.atlassian.net/browse/INTERLOK-629) - JmsProducerImp#ttl does not match getter/setter
- [INTERLOK-631](https://adaptris.atlassian.net/browse/INTERLOK-631) - SlowNotification Interceptor - Timing issue during tests
- [INTERLOK-637](https://adaptris.atlassian.net/browse/INTERLOK-637) - Backup Configs fail validation when applied to adapter
- [INTERLOK-638](https://adaptris.atlassian.net/browse/INTERLOK-638) - Tests Broken on Windows 10

### Improvements

- [INTERLOK-74](https://adaptris.atlassian.net/browse/INTERLOK-74) - UI - First time admin login action should force user to create user / change admin password
- [INTERLOK-398](https://adaptris.atlassian.net/browse/INTERLOK-398) - UI - Investigate packaging concerns for a UI API
- [INTERLOK-478](https://adaptris.atlassian.net/browse/INTERLOK-478) - UI Config - service collection testing - restart test needs to retain in data
- [INTERLOK-552](https://adaptris.atlassian.net/browse/INTERLOK-552) - UI Config - integrate templates to work with vcs profiles
- [INTERLOK-553](https://adaptris.atlassian.net/browse/INTERLOK-553) - UI Config - integrate user export/imports with the vcs system
- [INTERLOK-562](https://adaptris.atlassian.net/browse/INTERLOK-562) - Not able to add a placeholder on static metadata for Config Export
- [INTERLOK-569](https://adaptris.atlassian.net/browse/INTERLOK-569) - Provide better feedback after adding a Shared Connection
- [INTERLOK-577](https://adaptris.atlassian.net/browse/INTERLOK-577) - UI Admin Page - Create a module to control admin features on the UI
- [INTERLOK-579](https://adaptris.atlassian.net/browse/INTERLOK-579) - Add an annotation that defines is a settings should be hidden in UI
- [INTERLOK-580](https://adaptris.atlassian.net/browse/INTERLOK-580) - UI Config Page - Create a Basic Mode for the config settings modal
- [INTERLOK-582](https://adaptris.atlassian.net/browse/INTERLOK-582) - Create a validation method in the Adapter Management classes that allow config to be validated
- [INTERLOK-591](https://adaptris.atlassian.net/browse/INTERLOK-591) - Create an Interlok API Client
- [INTERLOK-597](https://adaptris.atlassian.net/browse/INTERLOK-597) - The wizard creation uses '.' into the field keys and when templates are loaded in a wizard the field labels have '.' in it
- [INTERLOK-604](https://adaptris.atlassian.net/browse/INTERLOK-604) - Add a pie chart for the metadata coming from MetadataStatisticsMBean
- [INTERLOK-605](https://adaptris.atlassian.net/browse/INTERLOK-605) - Uograde to font awesome 4.4.0 with adapter, channel and workflow icons
- [INTERLOK-607](https://adaptris.atlassian.net/browse/INTERLOK-607) - Add some documentation for the community template using vcs
- [INTERLOK-610](https://adaptris.atlassian.net/browse/INTERLOK-610) - Metadata Appender Service Via UI Does Not Allow Same Meta Date Key To Be Appended More Than Once.
- [INTERLOK-612](https://adaptris.atlassian.net/browse/INTERLOK-612) - Use the new adapter registry mbean validation method before applying a config
- [INTERLOK-632](https://adaptris.atlassian.net/browse/INTERLOK-632) - Test SQL Server with latest driver.
- [INTERLOK-633](https://adaptris.atlassian.net/browse/INTERLOK-633) - Add a new Http Producer based on Apache HTTP
- [INTERLOK-634](https://adaptris.atlassian.net/browse/INTERLOK-634) - Add a JsonTransformationDriver Impl that uses XStream

