.swagger-section {
}
.swagger-section h1[id], .swagger-section h2[id], .swagger-section h3[id], .swagger-section h4[id] {
	margin-top: 5px;
	padding-top: 5px;
}
.swagger-section .swagger-ui-wrap .container {
	padding-left: 0;
	padding-right: 0;
}
.swagger-section .swagger-ui-wrap #resources {
	padding-left: 0;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 {
	font-weight: normal;
	padding-top: 10px;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading h2 a,
.swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading h2 a {
	color: #ED1951;
	text-decoration: none;
}
.swagger-section .swagger-ui-wrap ul.endpoints {
	padding-left: 0;
}
.swagger-section .swagger-ui-wrap ul.endpoints li.endpoint {
	padding: 0;
	margin: 5px 0;
}
.swagger-section .swagger-ui-wrap .content {
	max-width: none;
}
.swagger-section .swagger-ui-wrap table thead tr th {
	color: white;
}
.swagger-section .swagger-ui-wrap input.parameter {
	color: black !important;
}
.swagger-section .swagger-ui-wrap .info_title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 29px;
	padding-top: 60px;
	margin-top: -40px;
}
.swagger-section .swagger-ui-wrap h2 {
	padding: 0;
}